@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
	width: 100%;

	.title {
		@include m.fontHeading1("semibold");
		@include m.flex(flex-start);
		gap: 12px;
		color: var(--c-g-neutral-10);
	}

	.trailName {
		@include m.fontHeading1("semibold");
		padding-top: 40px;
		color: var(--c-bg-dark);
	}

	.button {
		margin-top: 40px;
	}

	.subwaySection {
		width: 100%;
		padding-top: 40px;

		.subwayTitle {
			@include m.fontHeadline2("semibold");
			color: var(--c-g-neutral-20);
		}

		.station {
			@include m.fontBody1Normal("regular");
			color: var(--c-g-cool-neutral-22);
		}
	}
}
