@use "@/shared/ui/styles/constants" as c;
@use "@/shared/ui/styles/mixins" as m;

.wrapper {
	width: 100%;

	.title {
		@include m.flex(flex-start);
		@include m.fontHeading1("semibold");
		gap: 12px;
		color: var(--c-g-neutral-10);

		.back {
			@include m.flex;
		}
	}

	.pickerWrapper {
		width: 100%;
		padding: 16px 0;
	}
}
